# Ignore virtual environment
venv/

# Ignore Jupyter notebook extensions
venv/share/jupyter/nbextensions/

# Ignore IDE settings
.idea/

# Ignore compiled Python files
__pycache__/
*.pyc
*.pyo

# Ignore Mac system files
.DS_Store
